.content {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
  margin: 4rem auto 3rem;

  @media(min-width: 1025px) {
    margin: 0 auto 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .playground {
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 90%;
    min-height: 75vh;

    .error {
      visibility: hidden;
      font-size: 1rem;

      @media(min-width: 1025px) {
        font-size: 1.4rem;
      }
    }

    .active {
      visibility: visible;
    }

    .hands {
      background-color: #ccc;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media(max-width: 1024px) and (orientation: landscape) {
        flex-direction: row;
        justify-content: space-around;
      }

      &__player {
        display: flex;
        border: 1px solid black;
        border-radius: .2rem;
        margin: 0.2rem;

        .hand {
          width: 50px;
          margin: 0.5rem;
          cursor: pointer;

          img {
            width: 100%;
            // margin: 0.2rem;
          }
        }
      }

      &__cpu {
        border: 1px solid black;
        border-radius: .2rem;
        margin: 0.2rem;

        .hand {
          width: 50px;
          margin: 0.5rem;

          img {
            width: 100%;
          }
        }
      }

      @media(min-width: 1025px) {

        &__player,
        &__cpu {
          .hand {
            width: 150px;
          }
        }
      }
    }

    .cardsContainer {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media(orientation: landscape) {
        flex-direction: row;
      }

      span {
        font-weight: bold;
        color: red;
      }
    }

  }

  @media(max-width: 1024px) and (orientation: landscape) {
    .playground {
      min-height: 62vh;
    }
  }

  @media(min-width: 1025px) {
    .playground {
      min-height: 85vh;
    }
  }
}