.content {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;

  display: flex;
  justify-content: center;
  align-items: center;

  .playground {
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 90%;
    height: 75vh;
  }

  @media(max-width: 1024px) and (orientation: landscape) {
    .playground {
      height: 62vh;
    }
  }

  @media(min-width: 1025px) {
    .playground {
      height: 85vh;
    }
  }
}